html, body {
    background: transparent;
    height: 100vh;
    margin: 0;
    padding: 0;    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    button, div {
        margin-left: 3em;
        margin-right: 3em;
    }
    .sort-text {
        display: flex;
        align-items: center;
    }
}


* {
  text-decoration: none !important;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%/1, max(64px, 100%/2.5))));
  gap: 16px;
  padding: 1em;
  justify-content: space-around;
}

.article-card {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
}


mat-grid-tile-content {
  height: 70%;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.title-date {
    display: flex;
    p + p {
        margin-left: 5em;
    }
}



@media screen and (max-width: 850px) {
    /* Styles spécifiques aux appareils mobiles */
    .header {
      display: flex;
      flex-direction: column; /* Passer en colonne pour les appareils mobiles */
      align-items: center; /* Centrer le contenu verticalement */
      button, div, .sort-text {
        margin: 1em 0; /* Ajuster la marge pour les appareils mobiles */
      }
    }

    .article-grid {
      grid-template-columns: 1fr;
    }
    mat-grid-tile {
        padding: 2em;
    }

    .title-date {
      display: flex;
      flex-direction: column; /* Passer en colonne pour les appareils mobiles */
      text-align: center; /* Centrer le texte horizontalement */
      margin: 1em 0; /* Ajuster la marge pour les appareils mobiles */
      p + p {
        margin: 0;
      }
    }
  }