<div class="grid-container">
  <!-- Boucle sur les articles depuis une liste d'articles -->
  <div class="article-grid">
  <div *ngFor="let subject of subjects">
      <mat-card class="article-card">
        <mat-card-content>
          <h2>{{ subject.name }}</h2>
          <div class="title-date">
            <p>{{ subject.description }}</p>
          </div>
          <div class="flex">
            <button class="subscribe-button" (click)="processState(subject.id)" mat-raised-button color="primary">
              {{ subject.hasOwnProperty('isSubscribed') ? "Se désabonner" : "S'abonner" }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>